<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<link rel="stylesheet" href="/css/style.css"/>
		<title>Inscription</title>
		<script src="http://<%= ip %>:<%= port %>/socket.io/socket.io.js"></script>
	</head>
	<body>
		<header>
			<h1>Projet STI2D SIN</h1>
			<h1>Serveur RaspberryPi</h2>
		</header>
		<nav>
			<ul>
				<li><a href="/inscription">Inscription du personnel</a></li>
				<li><a href="/admin">Administration</a></li>
				<li><a href="/">Retour à l'accueil</a></li>
			</ul>
		</nav>
		<section>
			<form id="form" method="post" action="">
				<p>
					<fieldset>
						<legend>Identité</legend>
						<label for="lastName">Nom : </label>
						<input type="text" name="lastName" id="lastName"/>
						<br/><br/>
						<label for="firstname">Prénom : </label>
						<input type="text" name="firstname" id="firstname"/>
						<br/><br/>
						<label for="func">Fonction dans la société : </label>
						<input type="text" name="fonction" id="func"/>                                                                           
					</fieldset>
					<br/>
					<fieldset>
						<legend>Identifiant de connection</legend>
						<label for="user">Pseudo : </label>
						<input type="text" name="username" id="user"/>
						<br/><br/>
						<label for="pass">Mot de passe : </label>
						<input type="password" name="password" id="pass"/>
					</fieldset>
					<br/>
					<input type="button" id="button" value="Envoyer"/>
				</p>
			</form>
		</section>
    		<script src="js/script.js"></script>
        	<footer>
        		<p>Copyright(C) Mr ANDRÉ Damien, tous droits réservés.</p>
        	</footer>
	</body>
</html>
