<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<link rel="stylesheet" href="/css/style.css"/>
		<title>Inscription</title>
	</head>
	<body>
		<form method="post" action="/inscription/personnel">
			<p>
				<label for="user">Pseudo : </label>
				<input type="text" name="username" id="user" required/>
				<br/><br/>
				<label for="pass">Mot de passe : </label>
				<input type="password" name="password" id="pass" required/>
				<br/><br/>
				<label for="func">Fonction dans la société : </label>
				<input type="text" name="fonction" id="func" required/>
				<br/><br/>
				<input type="submit" valu="Envoyer"/>
			</p>
		</form>
	</body>
</html>
