<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<link rel="stylesheet" href="/css/style.css"/>
		<title>Inscription</title>
		<script src="http://<%= ip %>:<%= port %>/socket.io/socket.io.js"></script>
	</head>
	<body>
		<form id="form" method="post" action="">
			<p>
				<fieldset>
					<legend>Identité</legend>
					<label for="lastName">Nom : </label>
					<input type="text" name="lastName" id="lastName" required/>
					<br/><br/>
					<label for="firstname">Prénom : </label>
					<input type="text" name="firstname" id="firstname" required/>
					<br/><br/>
					<label for="func">Fonction dans la société : </label>
					<input type="text" name="fonction" id="func" required/>                                                                           
				</fieldset>
				<br/>
				<fieldset>
					<legend>Identifiant de connection</legend>
					<label for="user">Pseudo : </label>
					<input type="text" name="username" id="user" required/>
					<br/><br/>
					<label for="pass">Mot de passe : </label>
					<input type="password" name="password" id="pass" required/>
				</fieldset>
				<br/>
				<input type="button" id="test" value="Envoyer"/>
			</p>
		</form>
    	<script>
        	var lastName = document.getElementById("lastName");
            var firstName = document.getElementById("firstname");
            var func = document.getElementById("func");
            var username = document.getElementById("user");
            var password = document.getElementById("pass");
            var form = document.getElementById("form");
            var test = document.getElementById("test");
            var error = 1;
            
            var socket = io.connect('http://<%= ip %>:<%= port %>');
            
            var submitForm = function() {
               	socket.emit('registerAdmin', {
                   		'name' : lastName.value,
                   		'firstname' : firstName.value,
                   		'func' : func.value,
                   		'user' : username.value,
                   		'pass' : password.value
               	});
               	
               	socket.on('errorRegisterAdmin', function(message) {
                    //alert(message);
                    alert('Le pseudo ' + username.value + ' est déjà utilisé');
                    console.log(message);
                    //error = message.error;
                    
                    if(message == 0) {
                        ;
                    }
                    else {
                        form.action="/inscription/personnel";
                        form.submit();
                    }
                });
            };
            
            test.addEventListener("click", submitForm);
        </script>
	</body>
</html>
