<table>
	<tr>
		<td>Numéro de la place</td>
		<td>Occuper / Non occuper</td>
	</tr>
	<tr><% for(var i = 0; i < 8; i++) { %>
	        <td><%= num[i] %></td>
	        <td>
	            <%= occuper[Math.round(Math.random() * (occuper.length - 1))] %>
	        </td>
	</tr><% } %>
</table>
